header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 120px;
  background-color: rgb(19, 27, 44);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 130px;
  height: 100px;
}
