header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid rgb(255, 0, 0);
  height: 120px;
  background-color: rgb(157, 163, 211);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 130px;
  height: 100px;
}
