nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 20px;
}
.nav-ul {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
